## 배고픈데 밥먹고 싶어

#### 한칸 띄고

설명1

In [4]:
print("Hello World!")
print("A")

Hello World!
A

In [8]:
value = input("값을 입력해주세요.")

값을 입력해주세요.10

In [10]:
value

'10'

In [11]:
x,y,z=10,20,30
x,y,z

(10, 20, 30)

In [14]:
x+=y
x,y

(30, 20)

In [13]:
x,y=10,20
x,y

(10, 20)

# 1.정수형

In [15]:
type(10)

int

In [16]:
type(10.0)

float

In [17]:
type(True)

bool

In [18]:
type((1,2,3))

tuple

In [19]:
3**4

81

In [20]:
type([1,2,3])

list

In [21]:
type("hi")

str

In [22]:
a,b=2,3
print(a+b*a)

8

In [23]:
print((a+b)*a)

10

## 연습문제0.

In [24]:
a, b=7, 3.0

In [32]:
c=a//b
d=a%b
e=a**b

In [33]:
a,int(b),int(c),d,e

(7, 3, 2, 1.0, 343.0)

In [34]:
a, b=7, 3.0

In [35]:
type(a), type(b)

(int, float)

In [36]:
c=int(b)
type(c)

int

In [37]:
c

3

In [60]:
def sum(a, b, c):
    return a+b+c
def avg(s,n):
    return s/n
def num(a,b,c)

In [61]:
mike, judy, sera = 80, 75, 100
a=sum(mike, judy, sera)
b=num(mike, judy, sera)

ave(a,b)

NameError: name 'num' is not defined

In [58]:
print(int(avg))

85

# Boolean

In [62]:
a=True a

SyntaxError: invalid syntax (<ipython-input-62-f54e06dc3aac>, line 1)

In [63]:
a=True
a

True

# 비교 연산자

In [64]:
a,b=1,2
print(a>b)

False

In [65]:
True and False

False

In [67]:
True and True
True and True
True and True
True and True

True

In [87]:
a=input("점수를 입력하세요")
b=input("점수를 입력하세요")
c=input("점수를 입력하세요")

int(a)>65 and int(b)>65 and int(c)>65

점수를 입력하세요55
점수를 입력하세요90
점수를 입력하세요90

False

In [88]:
if(int(a)>65 and int(b)>65 and int(c)>65):
    print(True)
else:
    print(False)

False

In [89]:
a>'65' and b>'65' and c>'65'

False

# None Type

In [90]:
a=None
print(a)

None

In [95]:
quote1 = "하이요!"
type(quote1)

str

In [97]:
quote2 = '헬로헬로헬로!'
type(quote2)

str

In [98]:
quote3 = """나는
띄어쓰기를 하고 싶
어!!!!!!!!!!"""
quote3

'나는\n띄어쓰기를 하고 싶\n어!!!!!!!!!!'

In [99]:
print(quote3)

나는
띄어쓰기를 하고 싶
어!!!!!!!!!!

# 연산자

In [105]:
a="사과"
b="배배배배배"
(a+b)*3

'사과배배배배배사과배배배배배사과배배배배배'

# Escape Code

In [109]:
quote3 = """나는\n
띄어쓰기를 하고 싶
어!!!!!!!!!!"""
print(quote3)

나는

띄어쓰기를 하고 싶
어!!!!!!!!!!

In [114]:
quote4="큰따옴표 쓸래!! \"이것봐라\" "
print(quote4)

큰따옴표 쓸래!! "이것봐라"

# Indexing, Slicing

In [119]:
quote = "하이루 방가방가"
quote

'하이루 방가방가'

In [122]:
quote[1:5]

'이루 방'

In [125]:
quote[0:7:2] #2칸씩 건너 띄면서

'하루방방'

In [124]:
quote[:5]

'하이루 방'

In [131]:
print(quote[5:])
print(quote[5:])
print(quote[5:])
print(quote[::3])

가방가
가방가
가방가
하 방

In [146]:
a="20190505chicken19000"
year=a[0:4]
day=a[4:8]
menu=a[8:15]
money=a[15:19]
print(year,'\t\t\t'+day,menu,money)

2019 			0505 chicken 1900

# 문자열 포맷팅

In [150]:
name = "ㅇㅎㅇ"
major = "Computer"
intro = "안녕하세요. %s 입니다. 전공은 %s 입니다." %(name, major)
intro

'안녕하세요. ㅇㅎㅇ 입니다. 전공은 Computer 입니다.'

In [156]:
intro = "안녕하세요. {0}입니다. 전공은 {1}입니다.".format(name, major)
intro

'안녕하세요. ㅇㅎㅇ입니다. 전공은 Computer입니다.'

In [164]:
pi=3.141592
pi_def= "PI는 %10.2f입니다."%pi
pi_def

'PI는       3.14입니다.'

In [160]:
f"PI는 {pi}입니다"

'PI는 3.141592입니다'

In [181]:
a="90:30:80"
math=int(a[0:2])
english=int(a[3:5])
science=int(a[6:9])


average=(math + english + science)/3



print("평균 점수는" + str(average) + "입니다.")


print("평균 점수는 {:.2f}입니다.".format(average))

평균 점수는66.66666666666667입니다.
평균 점수는 66.67입니다.

# 문자열 함수

In [185]:
quote = '안녕하세요.... ㅇㅎㅇ입니다.'
quote

'안녕하세요.... ㅇㅎㅇ입니다.'

In [186]:
len(quote)

17

In [187]:
quote.index('.')

5

In [188]:
"Apple".upper()

'APPLE'

In [189]:
quote.replace('.','?')

'안녕하세요???? ㅇㅎㅇ입니다?'

In [190]:
quote.count('.')

5

In [194]:
a="      하  이  요      "
a

'      하  이  요      '

In [195]:
a.rstrip()

'      하  이  요'

In [196]:
a.strip()

'하  이  요'

In [197]:
a.replace(' ', '')

'하이요'

In [202]:
a="90:30:80"
b=a.split(":") # 리스트로 나누는 것
b

['90', '30', '80']

In [199]:
fruit = "Apple Banana"
fruit_list=fruit.split(" ")
fruit_list

['Apple', 'Banana']

In [203]:
",★☆★☆".join(fruit_list) #리스트를 연결해주는 것

'Apple,★☆★☆Banana'

In [204]:
", ".join(b)

'90, 30, 80'

# 연습문제6

In [223]:
a="    90:30:80    "
b=a.strip()

score_list=b.split(":")

math, english, science = list(map(int, score_list))
avg = (math+average+science)/3

#math, english, science = b.split(":")
#print(math, english, science)


#average = (int(math)+int(english)+int(science))/3
#print(average)


print("평균 점수는 {:f} 입니다.".format(average))

평균 점수는 66.666667 입니다.

# List

In [237]:
a=[1, 3.14, "Apple", ('a', 'b', 'c')]
a

[1, 3.14, 'Apple', ('a', 'b', 'c')]

In [238]:
len(a)

4

In [239]:
b=[]
type(b)

list

In [240]:
c=list()
type(c)

list

# range

In [246]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [247]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [255]:
list1 = list(range(3,30,3))
print(list1)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [254]:
tuple1 = tuple(list1)
tuple1

(3, 6, 9, 12, 15, 18, 21, 24, 27)

In [256]:
list1[0]

3

In [259]:
list1[1:10:2]

[6, 12, 18, 24]

In [260]:
list1[0]='a'
list1

['a', 6, 9, 12, 15, 18, 21, 24, 27]

In [261]:
list1[1:4]=['b','c','d']
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24, 27]

In [262]:
del list1[1]
list1

['a', 'c', 'd', 15, 18, 21, 24, 27]

In [263]:
del list1[-1]
list1

['a', 'c', 'd', 15, 18, 21, 24]

In [264]:
'a' in list1

True

In [265]:
'e' in list1

False

In [266]:
'a' not in list1

False

In [268]:
list1+[10,20]

['a', 'c', 'd', 15, 18, 21, 24, 10, 20]

# 리스트 함수

In [306]:
list1=list(range(5))
list1

[0, 1, 2, 3, 4]

In [307]:
list1.append(5)
list1

[0, 1, 2, 3, 4, 5]

In [308]:
list1.extend(['b','c'])
list1

[0, 1, 2, 3, 4, 5, 'b', 'c']

In [309]:
# 이거 둘이 똑같으니 참고하셈
#list1.extend([1,2])
#list1=list1+[1,2]

In [310]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [311]:
a=list1.pop()
print(list1)
print(a)

[0, 1, 2, 3]
4

In [312]:
list1

[0, 1, 2, 3]

In [313]:
list1.append(10)
list1

[0, 1, 2, 3, 10]

In [314]:
list1.remove(3)#값을 지움. 인덱스 아님
list1

[0, 1, 2, 10]

In [315]:
list1.insert(1, 'a') #index에 값 삽입
list1

[0, 'a', 1, 2, 10]

# count&sort&reverse&index

In [316]:
list1=[1,1,2,2,3,4]
list1

[1, 1, 2, 2, 3, 4]

In [318]:
list1.count(1), list1.count(3)

(2, 1)

In [319]:
list1.index(3) #3이 몇번쨰 인덱스에 있는지

4

In [320]:
list1=[4,2,1,56,31651,11,213,5]
list1

[4, 2, 1, 56, 31651, 11, 213, 5]

In [322]:
list1.sort()
list1

[1, 2, 4, 5, 11, 56, 213, 31651]

In [323]:
list1.reverse()
list1

[31651, 213, 56, 11, 5, 4, 2, 1]

In [324]:
list1.sort(reverse=True)
list1

[31651, 213, 56, 11, 5, 4, 2, 1]

In [325]:
tuple1 = tuple(list1)
tuple1

(31651, 213, 56, 11, 5, 4, 2, 1)

In [326]:
tuple1.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [327]:
tuple1[1]=4

TypeError: 'tuple' object does not support item assignment

# List의 복사

In [343]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [344]:
list2 = list1.copy()
list2

[0, 1, 2, 3, 4]

In [345]:
list2.append(10)
list2[0]='a'
list2

['a', 1, 2, 3, 4, 10]

In [346]:
list1

[0, 1, 2, 3, 4]

In [347]:
#list는 메모리 주소 저장

In [357]:
list1=[
    [1,2,3],[4,5,6],[7,8,9]
]

In [358]:
list2=list1.copy()
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [359]:
list2[0][1]='a'
list2

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

In [360]:
list1

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

### deepcopy

In [361]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]

In [362]:
import copy

In [363]:
list2=copy.deepcopy(list1)
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [364]:
list2[0][0]='a'
list2

[['a', 2, 3], [4, 5, 6], [7, 8, 9]]

In [365]:
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# dictionary

In [366]:
a={}
type(a)

dict

In [367]:
a=dict()
type(a)

dict

In [382]:
profile={
    'name':'ㅇㅎㅇ',
    'city':'seoul',
    'height':180,
    'friends': ["Minsoo", 'judy']
}

In [383]:
profile['name']

'ㅇㅎㅇ'

In [384]:
profile['city']

'seoul'

In [385]:
profile = dict(
    name="ㅇㅎㅇ",
    city="seoul",
    height=180,
    friends=["Minsoo", 'judy']
)

In [386]:
profile

{'name': 'ㅇㅎㅇ', 'city': 'seoul', 'height': 180, 'friends': ['Minsoo', 'judy']}

In [387]:
'ㅇㅎㅇ' in profile

False

In [388]:
'name' in profile #dictionary 는 key 중심임을 알 수 있음.

True

### Dictionary 함수

In [378]:
profile['name']='임현우'
profile

{'name': '임현우', 'city': 'seoul', 'height': 180, 'friends': ['Minsoo', 'judy']}

In [389]:
profile['weight']='60'
profile

{'name': 'ㅇㅎㅇ',
 'city': 'seoul',
 'height': 180,
 'friends': ['Minsoo', 'judy'],
 'weight': '60'}

In [391]:
profile.setdefault('weight', 100) #weight가 없으면 기본값 100을 해라
profile

{'name': 'ㅇㅎㅇ',
 'city': 'seoul',
 'height': 180,
 'friends': ['Minsoo', 'judy'],
 'weight': '60'}

In [392]:
profile.update({
    'height':215,
    'weight':88
})
profile

{'name': 'ㅇㅎㅇ',
 'city': 'seoul',
 'height': 215,
 'friends': ['Minsoo', 'judy'],
 'weight': 88}

In [393]:
profile.get('name')

'ㅇㅎㅇ'

In [394]:
print(profile.get('comment'))

None

In [396]:
profile.get('comment', [])

[]

In [397]:
height=profile.pop('height')
print(height)
print(profile)

215
{'name': 'ㅇㅎㅇ', 'city': 'seoul', 'friends': ['Minsoo', 'judy'], 'weight': 88}

In [398]:
profile.keys()

dict_keys(['name', 'city', 'friends', 'weight'])

In [399]:
profile.values()

dict_values(['ㅇㅎㅇ', 'seoul', ['Minsoo', 'judy'], 88])

In [400]:
profile.items()

dict_items([('name', 'ㅇㅎㅇ'), ('city', 'seoul'), ('friends', ['Minsoo', 'judy']), ('weight', 88)])

In [401]:
profile.clear()
profile

{}

# Set

In [402]:
set1={1,2,3,3,3,3,3,3} #중복제거
set1

{1, 2, 3}

In [403]:
list1=[1,2,3,3,3,3,3,3]
list(set(list1))

[1, 2, 3]

In [404]:
set1={1,2,3}
set2={3,4,5}
set1, set2

({1, 2, 3}, {3, 4, 5})

In [405]:
set1 | set2

{1, 2, 3, 4, 5}

In [406]:
set1 & set2

{3}

In [408]:
set.union(set1, set2)

{1, 2, 3, 4, 5}

In [409]:
set.intersection(set1, set2)

{3}

In [411]:
set1-set2

{1, 2}

In [412]:
set.difference(set1, set2)

{1, 2}

In [413]:
set1^set2

{1, 2, 4, 5}

In [414]:
set.symmetric_difference(set1, set2)

{1, 2, 4, 5}

In [415]:
{1} <=set1

True

In [416]:
set1 <= set2

False

### Bool 형변환

In [421]:
bool(0), bool(1), bool(242424242111), bool(-2222222), bool(11111111111111111111111111111111111111111111111111111111111)

(False, True, True, True, True)

In [424]:
bool(" "), bool(""), bool([1]), bool([0]), bool([])

(True, False, True, True, False)